@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1>Welkom bij de Broodjeszaak</h1>
    <h2>Menu</h2>
    <ul>
        <li>@Html.ActionLink("Bestelling plaatsen", "Create", "Order")</li>
    </ul>

    @if (User.IsInRole("Admin"))
    {
        <h2>Admin</h2>
        <ul>
            <li>@Html.ActionLink("Beheer Bestellingen", "OrderList", "Admin")</li>
            <li>@Html.ActionLink("Beheer prijzen", "EditProductPrices", "Admin")</li>
            <li>@Html.ActionLink("Beheer Administrators en gebruikers", "Index", "Admin")</li>
        </ul>
    }

    @if (User.IsInRole("Employee") || User.IsInRole("Admin"))
    {
        <h2>Employee</h2>
        <ul>
            <li>@Html.ActionLink("Samenvatting van alle bestellingen", "Summary", "Order")</li>
            <li>@Html.ActionLink("Individuele bestellingen bijhouden", "IndividualOrdersSummary", "Order")</li>
        </ul>
    }
</div>